@font-face {
	font-family: spotifym;
	src: url(fonts/lineto-circular-pro-medium.ttf);
	font-family: spotifyb;
	src: url(fonts/lineto-circular-pro-bold.ttf);
	font-family: spotifybook;
	src: url(fonts/lineto-circular-pro-book.ttf);
}

body#sidemenu .side {
	background-color: #070d14;
	height: 100vh;
	width: 200px;
	position: fixed;
}
h1{
	font-family: spotifyb !important;
}
p{
	font-family: spotifym !important;
}
span{
	font-family: spotifybook !important;
}
button{
	font-family: spotifyb !important;
}


body#sidemenu .logo {
	height: 40px;
}

body#sidemenu .menu {
	color: white;
}
body#sidemenu .menu ul {
	list-style: none;
}

body#sidemenu .menu li {
	padding-left: 18px;
}
body#sidemenu .menu li a {
	text-decoration: none;
	color: white;
}

body#sidemenu .menu li.active {
	border-left: 4px solid #41d76d;
	padding-left: 14px;
}

body#sidemenu .buttons .sign-up {
	height: 30px;
	border-radius: 15px;
	width: 150px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 0.8rem;
	outline: none;
}
body#sidemenu .buttons .sign-up:hover {
	color: #41d76d;
	outline: none;
}
body#sidemenu .buttons .login {
	height: 30px;
	border-radius: 15px;
	width: 150px;
	background-color: #070d14;
	color: rgb(192, 192, 192);
	font-weight: bold;
	font-size: 0.8rem;
	border: 2px solid rgb(192, 192, 192);
}
body#sidemenu .buttons .login:hover {
	color: #41d76d;
	outline: none;
}
body#sidemenu .buttons p {
	color: rgb(192, 192, 192);
	margin-top: 30px;
	font-size: 0.8rem;
}
body#sidemenu .buttons .cookie {
	margin-right: 15px;
	text-decoration: none;
	color: rgb(192, 192, 192);
}
body#sidemenu .buttons .privacy {
	margin-left: 15px;
	text-decoration: none;
	color: rgb(192, 192, 192);
}
body#sidemenu .side-mobile .top-bar {
	background-color: #070d14;
	height: 50px;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	position: fixed;
}

body#sidemenu .side-mobile .menu-body {
	background-color: #070d14;
	height: 100vh;
}
body#sidemenu .side-mobile {
	display: none;
}

#pageContent {
	padding-left: 200px;
	width: 100%;
}

.home-content {
	background: rgb(37, 70, 110);
	background: linear-gradient(
		148deg,
		rgba(37, 70, 110, 1) 0%,
		rgba(2, 4, 7, 1) 100%
	);
	height: 100vh;
}

.top-menu li {
	display: inline-block;
	list-style: none;
	color: #95a0ae;
	font-size: 0.8rem;
	font-weight: bold;
}
.top-menu li.active {
	color: #ffffff;
}

.single-album {
	width: 100px;
}
h2 {
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	body#sidemenu .side {
		display: none;
	}
	body#sidemenu .side-mobile {
		display: block;
	}
	#pageContent {
		padding-left: 0;
		padding-top: 50px;
	}
}

body {
	background-color: #181818;
}
html body#sidemenu main div#pageContent.page-content div.container-fluid {
	background-image: url(assets/image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;
}
h1,
h4,
h5,
p,
.bi,
span {
	color: white;
}
h1 {
	padding: 0px;
	margin: -15px;
	font-size: 80px;
}
.btn-dark {
	background-color: rgb(0, 0, 0, 0.8);
}
.follow {
	padding-right: 35px;
	padding-left: 35px;
}
.bi {
	font-size: 20px;
}
.hover {
	border-bottom: 2px solid #28a745;
}
div.overview div.col-10 span > span:hover {
	border-bottom: 2px solid #28a745;
}

.bi {
	font-size: 50px;
}

.album {
	width: 100%;
	height: auto;
}
.albumText {
	width: 100%;
	height: 60px;
	white-space: wrap;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.albumText > p {
	padding: 0px !important;
	margin: 0px !important;
	margin-top: 5px !important;
	line-height: 15px !important;
}
/* 
			.container-fluid::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -50px;
				width: 100%;
				height: 60px;
				background: linear-gradient(
					90deg,
					rgba(18, 18, 18, 1) 58%,
					rgb(32, 28, 28) 100%
				);
				opacity: 0.2;
			} */

@media (max-width: 500px) {
	h1 {
		margin-top: -30px;
		margin-bottom: -20px;
	}
}

@media (max-width: 767px) {
	h1 {
		margin-top: -25px;
	}
}
@media (max-width: 300px) {
	.overview {
		display: none;
	}
	h1 {
		margin-top: -15px;
	}
}

@media (max-width: 790px) {
	.bi {
		font-size: 40px;
	}
}
